@font-face {
	font-family: 'ElegantIcons';
	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIconsd41d.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.list-sidebar .sidebar-tool {
    border-radius: 16px;
    background: #FFF1EB;
    box-shadow: 0px 4px 10px 0px rgba(255, 146, 1, 0.10);
    padding: 10%;
}

.list-sidebar .sidebar-tool .title p {
    color: #7246F8;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

p.sider-center {
    width: 150px;
    margin: auto;
    height: 3px;
    border-radius: 14px;
    background: linear-gradient(101deg, rgba(255, 255, 255, 0.00) 0.29%, #7246F8 83.46%);
}

.list-sidebar .sidebar-tool .btn {
    border-radius: 8px;
    background: #7246F8;
    width: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-sidebar .sidebar-tool .btn::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../img/song.webp);
    position: absolute;
    left: 0;
    z-index: 2;
}

.list-sidebar .sidebar-tool .btn span {
    color: #fff;
    padding-left: 5px;
    z-index: 99;
}

.list-sidebar .sidebar-tool ul {
    list-style-type: none;
    padding: 0;
}

.list-sidebar .sidebar-tool ul li {
    color: #424857;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 7px;
    font-weight: 500;
    text-align: center;
    line-height: 150%;
}

.list-sidebar .sidebar-tool ul li span {
    color: #7246F8;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}
@media only screen and (max-width: 575.98px){
    .card.in {
      flex-direction: column !important;
  }
  .card.in .image {
      max-width: 100% !important;
      max-height: 300px !important;
  }
  .card {
      margin-bottom: 0.9375rem;
  }
}

